@model Category
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<form method="post" asp-action="Create">

    <div class="mb-3">
        <label for="Name">Name</label>
        <input type="text" asp-for="Name" name="Name" disabled class="form-control" />
    </div>



    <div class="mb-3">
        <label for="Discraption">Discraption</label>
        <textarea asp-for="Discraption" name="Discraption" disabled class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-outline-primary">Save</button>
    <a asp-action="Index" class="btn btn-outline-secondary">undelete</a>

</form>